/*Globales*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  :root {
    --card-bg: #cb1e41bd;
    --shadow: 2px 5px 5px darkgray;
    --white: whitesmoke;
    --border-gray: 2px solid darkgray;
  }

  #sitio{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .contenidos{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .partes {
    margin: 1rem;
  }

  .oculto{
    display: none;
  }


/*Estilos para titulos*/
  h3 {
    margin: 0.5rem auto;
    width: 50%;
    text-align: center;
  }

/*Estilos para botones*/
  button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--card-bg);
    color: var(--white);
    font-weight: bold;
    box-shadow: var(--shadow);
    transition: box-shadow 0.5s;
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.5s;
  }
/*Estilos para tablas*/
table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    background: linear-gradient(#e752b8, #ac18c0);
    margin: 1em;
}

thead {
    background: rgba(243, 140, 210, 0.4);
}

th {
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr:hover {
    background: rgba(243, 103, 199, 0.4);
}

/*Estilos para forms*/
form{
    padding: 60px;
    max-width: 400px;
    background-color: #f6e2f7;
    margin: 0 auto;
    border-radius: 5%;
    text-align: left;
  }
  
  form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none; 
  }

  form input::-webkit-input-placeholder{
    text-align: center;
  }
  
  form button {
      display: block;
      background-color: #b000eb;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-size: 1em; 
      color: 	white;
    font-family: "Roboto", sans-serif;
  }
  form button:hover{
      background-color: #5c0493;
  }
